<h1>Computers</h1>

<ul>
    <% lists.map((item,index)=>{ %>
        <li type="1">
            )  <%= item %> 
            <img src="/images/computer/<%= item %>.<%= type[index] %>" alt="img" width="120" height="80" />
        </li><br />

    <% }) %>
</ul>